body {
    font-family: 'Nerko One', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #D2B48C;
}

header {
    background-color: #605135;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .topnav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header .buttons-right {
    display: flex;
    align-items: center;
 justify-content: right ;

}

header .title {
    font-family: 'Nerko One';
    font-size: 25px;
    font-weight: bold;
    margin-right: 20px;
    text-decoration: none;
    color: #f9f9f9;
}

header .button {
    background-color: #7d6648;
    font-family: 'Nerko One';
    font-size: 20px;
    color: white;
    padding: 10px 15px;
    margin: 0 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    
}